.checkYourBag {
  position: relative;
}
.header {
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xl);
  align-items: flex-start;
  justify-content: center;
}
.imageIcon {
  position: absolute;
  height: 131%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -31%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.productImage {
  position: relative;
  width: 203.54px;
  height: 254px;
  overflow: hidden;
  flex-shrink: 0;
}
.title {
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  justify-content: flex-start;
}
.header1,
.subtitle,
.title {
  display: flex;
  align-items: flex-start;
}
.subtitle {
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  justify-content: flex-start;
  font-size: var(--body-normal-medium-normal-size);
  color: var(--font-tertiary);
}
.header1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--subtitle-small-regular-normal-size);
}
.loremIpsumDolor {
  position: relative;
  letter-spacing: -0.02em;
}
.smallDescription {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
}
.star01Icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.price,
.rating,
.stars {
  display: flex;
  flex-direction: row;
}
.stars {
  padding: 0 var(--padding-base) 0 0;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.price,
.rating {
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.rating {
  align-self: stretch;
  gap: var(--gap-5xs);
  color: var(--font-accent);
}
.price {
  gap: var(--gap-3xs);
}
.icon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.increaseButton,
.price1,
.priceRating,
.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.increaseButton {
  border-radius: var(--br-4xs);
  overflow: hidden;
  padding: var(--padding-5xs);
  justify-content: center;
}
.price1,
.priceRating,
.quantity {
  justify-content: flex-start;
}
.price1 {
  width: 111px;
  gap: var(--gap-base);
}
.priceRating,
.quantity {
  padding: var(--padding-5xs);
}
.priceRating {
  align-self: stretch;
  justify-content: space-between;
}
.contentArea,
.itemInBag {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contentArea {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs);
  gap: var(--gap-5xs);
}
.itemInBag {
  align-self: stretch;
  border-radius: var(--br-2xl);
  background-color: var(--font-white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  gap: var(--gap-base);
}
.imageIcon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.productImage1 {
  position: relative;
  width: 203.54px;
  height: 254px;
}
.bagContents {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: var(--body-normal-medium-normal-size);
}
.bagChild,
.contentFrame {
  position: absolute;
  box-sizing: border-box;
}
.contentFrame {
  top: 0;
  left: 122px;
  width: 973px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 48px;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.bagChild {
  top: 49px;
  left: 1093px;
  border-right: 4px solid var(--font-placeholder);
  width: 4px;
  height: 925.6px;
}
.logoChild {
  position: relative;
  width: 16px;
  height: 20.71px;
}
.logo {
  border-radius: 4px;
  background-color: var(--font-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon8 {
  position: relative;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.menuIcon,
.navLink,
.navLink1 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink,
.navLink1 {
  border-radius: var(--br-3xs);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.navLink {
  cursor: pointer;
}
.navLink1 {
  background-color: var(--ui-dark);
}
.navLinkstop {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-13xl);
}
.navLink2,
.navLinkstop,
.navbar {
  display: flex;
  padding: var(--padding-5xs);
  align-items: center;
}
.navLink2 {
  border-radius: var(--br-3xs);
  background-color: var(--ui-danger);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
}
.navbar {
  position: absolute;
  height: 96.88%;
  top: 1.56%;
  bottom: 1.56%;
  left: 16px;
  border-radius: 8px;
  background-color: var(--font-white);
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}
.imageIcon4 {
  position: absolute;
  height: 131%;
  width: 100%;
  top: -15.5%;
  right: 0;
  bottom: -15.5%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.productImage4 {
  position: relative;
  width: 64px;
  height: 64px;
}
.bagItem {
  border-radius: var(--br-xs);
  background-color: var(--font-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
}
.row {
  gap: var(--gap-base);
}
.row,
.row1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.bagItems {
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.bagTotal {
  position: relative;
  font-weight: 500;
}
.total {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.bagArea,
.button,
.cta {
  display: flex;
  align-items: center;
}
.button {
  border-radius: 14px;
  background-color: var(--ui-dark);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl);
  justify-content: center;
  gap: var(--gap-5xs);
  cursor: pointer;
  color: var(--font-white);
}
.bagArea,
.cta {
  flex-direction: column;
}
.cta {
  align-self: stretch;
  padding: var(--padding-base);
  justify-content: center;
  gap: var(--gap-13xl);
  font-size: var(--body-normal-medium-normal-size);
}
.bagArea {
  position: absolute;
  top: 0;
  left: 1095px;
  width: 345px;
  height: 1024px;
  overflow: hidden;
  padding: 72px var(--padding-5xs) var(--padding-5xs);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--subtitle-normal-medium-normal-size);
}
.bag {
  position: relative;
  border-radius: 16px;
  background-color: #ededed;
  width: 100%;
  height: 1024px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--title-small-regular-normal-size);
  color: var(--ui-dark);
  font-family: var(--body-normal-medium-normal);
}
