.label1 {
  position: relative;
  letter-spacing: -0.02em;
}
.label {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
}
.placeholder {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.inputArea,
.inputField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.inputArea {
  flex: 1;
  padding: var(--padding-5xs);
}
.inputField {
  align-self: stretch;
  border-radius: 13px;
  background-color: var(--ui-white);
  box-shadow: 0 4px 16px rgba(26, 31, 22, 0.15);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-base);
  font-size: var(--body-normal-medium-normal-size);
  color: var(--font-placeholder);
}
.input,
.topBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input {
  width: 507px;
  justify-content: center;
  gap: var(--gap-5xs);
}
.topBar {
  padding: var(--padding-5xs);
  justify-content: flex-start;
}
.imageIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.productImage1 {
  flex: 1;
  position: relative;
  height: 200px;
}
.productImage {
  border-radius: var(--br-3xl);
  background-color: var(--ui-white);
  width: 191.36px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.itemName {
  position: relative;
  font-weight: 500;
}
.smallDescription {
  position: relative;
  font-size: var(--body-small-regular-condensed-size);
  letter-spacing: -0.02em;
  color: var(--font-tertiary);
}
.icon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.action,
.button,
.content {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
}
.button {
  border-radius: var(--br-4xs);
  background-color: var(--font-dark);
  overflow: hidden;
  justify-content: center;
}
.action,
.content {
  align-self: stretch;
  justify-content: space-between;
}
.content {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.itemCard,
.productImage2 {
  border-radius: var(--br-3xl);
  overflow: hidden;
  display: flex;
  padding: var(--padding-base);
}
.itemCard {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.productImage2 {
  background-color: var(--ui-white);
  width: 191.36px;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.itemCard1,
.productImage2,
.row01 {
  justify-content: center;
}
.itemCard1 {
  border-radius: var(--br-3xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.row01 {
  flex-direction: row;
  gap: var(--gap-base);
}
.contentArea,
.row01,
.row02 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.row02 {
  flex-direction: row;
  padding: var(--padding-base);
  justify-content: center;
  gap: var(--gap-base);
}
.contentArea {
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  justify-content: flex-start;
  font-size: var(--body-normal-medium-normal-size);
  color: var(--font-dark);
}
.contentFrame,
.dashboardChild {
  position: absolute;
  box-sizing: border-box;
}
.contentFrame {
  top: 0;
  left: 122px;
  width: 953px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.dashboardChild {
  top: 49px;
  left: 1093px;
  border-right: 4px solid var(--font-placeholder);
  width: 4px;
  height: 925.6px;
}
.title {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.imageIcon8 {
  position: absolute;
  height: 131%;
  width: 100%;
  top: -15.5%;
  right: 0;
  bottom: -15.5%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.productImage16 {
  position: relative;
  width: 64px;
  height: 64px;
}
.bagItem {
  border-radius: var(--br-xs);
  background-color: var(--ui-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
}
.row {
  gap: var(--gap-base);
}
.row,
.row1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.bagItems {
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.icon8 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.bagArea,
.button8,
.cta {
  display: flex;
  align-items: center;
}
.button8 {
  border-radius: 14px;
  background-color: var(--font-dark);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl);
  justify-content: center;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.bagArea,
.cta {
  flex-direction: column;
}
.cta {
  align-self: stretch;
  padding: var(--padding-base);
  justify-content: center;
  font-size: var(--body-normal-medium-normal-size);
  color: var(--ui-white);
}
.bagArea {
  position: absolute;
  top: 0;
  left: 1095px;
  width: 345px;
  height: 1024px;
  overflow: hidden;
  padding: 72px var(--padding-5xs) var(--padding-5xs);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--subtitle-normal-medium-normal-size);
  color: var(--font-dark);
}
.logoChild {
  position: relative;
  width: 16px;
  height: 20.71px;
}
.logo {
  border-radius: 4px;
  background-color: var(--ui-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.icon9 {
  position: relative;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.navLink,
.navLink1 {
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.navLink {
  background-color: var(--font-dark);
}
.navLink1 {
  cursor: pointer;
}
.navLinkstop {
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.navLink2,
.navLinkstop,
.navbar {
  display: flex;
  padding: var(--padding-5xs);
  align-items: center;
}
.navLink2 {
  border-radius: var(--br-3xs);
  background-color: var(--ui-danger);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
}
.navbar {
  position: absolute;
  height: 96.88%;
  top: 1.56%;
  bottom: 1.56%;
  left: 16px;
  border-radius: 8px;
  background-color: var(--ui-white);
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}
.dashboard {
  position: relative;
  border-radius: 16px;
  background-color: #ededed;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-small-regular-condensed-size);
  color: var(--font-tertiary);
  font-family: var(--body-normal-medium-normal);
}
