@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --face-h5: Cabin;

  /* font sizes */
  --face-h5-size: 20px;
  --font-size-12xl-3: 31.3px;
  --body-small-regular-condensed-size: 16px;

  /* Colors */
  --ui-white: #fff;
  --font-dark: #1a1f16;
  --font-placeholder: rgba(26, 31, 22, 0.5);
  --font-success: #02d693;
  --font-accent: #12805d;
  --ui-tertiary: #60695c;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-5xl: 24px;

  /* border radiuses */
  --br-smi: 13px;
}
